@font-face {
  font-family: 'Eagle Lake';
  font-style: normal;
  font-weight: 400;
  src: local('Eagle Lake'), local('EagleLake-Regular'), url("7iuL6oiKGY2Q5j9N_W6QtQzyDMXhdD8sAj6OAJTFsBI.woff2") format('woff2'), url("7iuL6oiKGY2Q5j9N_W6Qtb3hpw3pgy2gAi-Ip7WPMi0.woff") format('woff');
}